@use "colors";
@use "typography";

body {
  background: colors.$cream;
  font-family: typography.$body-font;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 16px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #3d8168;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: colors.$white;
  border: none;
  gap: 8px;
  transition: 0.2s;

  &:hover {
    background-color: colors.$very-dark-cyan;
    cursor: pointer;
  }
}
